$font: 'Saira Extra Condensed', sans-serif;
$logo: 'Bowlby One SC', cursive; 
$bg: #212121;
$bgGradient: rgba(21, 21, 21, .5);
// $primary: #b2ff59;
$primary: #ffd740;
// $secondary: #4caf50;
$secondary: #ff9800;
// $secondaryActive: #3f9742;
$secondaryActive: #da8911;
$white: rgba(255, 255, 255, .8);